<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ParentQuery" value="SELECT * FROM Manufacturers"/>
		<add key="ChildQuery" value="SELECT * FROM Teams"/>
		<add key="ParentTableName" value="Manufacturers"/>
		<add key="ChildTableName" value="Teams"/>
		<add key="ParentPrimaryKey" value="ManufacturerId"/>
		<add key="ChildForeignKey" value="BikeManufacturerId"/>
		<add key="ConnectionString" value="Data Source=DESKTOP-DD18S5T;Initial Catalog=Moto GP;Integrated Security=True"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>