<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ParentQuery" value="SELECT * FROM Neighborhoods"/>
		<add key="ChildQuery" value="SELECT * FROM SmartHomes"/>
		<add key="ParentTableName" value="Neighborhoods"/>
		<add key="ChildTableName" value="SmartHomes"/>
		<add key="ParentPrimaryKey" value="NeighborhoodId"/>
		<add key="ChildForeignKey" value="NeighborhoodId"/>
		<add key="ConnectionString" value="Data Source=DESKTOP-DD18S5T;Initial Catalog=TEST;Integrated Security=True"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
